/* media query */
/* hero */
.hero{
    min-height: 90vh;
    background-color: #060314;
}
.navbar{
    position: sticky !important;
    top: 0;
    background-color: #ffffff;
}
/* nth */
.nth{
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* nt-usb */
.nt-usb{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(/images/nt-usb.jpg)  no-repeat center center;

      /* background: url(/images/nt-usb.jpg) no-repeat center center ;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* podmic */
.podmic{
        height: 100vh;
      background: url(/images/podmic.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* wireless-go */
.wireless-go{
        height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(/images/wireless-go.jpg)  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* usb-mic */
.usb-mic{
      height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(/images/usb-mic.jpg)  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* explore */
.microphones{
        background: url(/images/microphone.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.interface-and-mixture{
          background: url(/images/interface-and-mixture.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.software{
          background: url(/images/software.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.accessories{
     background: url(/images/gagets.jpg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* footer */

@media only screen and (min-width: 768px) {
 .navbar .toggle-icon{
    display: none ;
 }
 
}
@media only screen and (max-width: 768px) {
 .navbar .toggle-icon{
    display: unset ;
 }
 .navbar .nav-links{
    display: none;
 }
 
}